body {
  overflow-x: hidden;
}

:root {
  --max-width: 1110px;
  font-family: "Inter", sans-serif;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  visibility: inherit;
  background: #151515;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
